<div class="section-title">
    <h3 class="title">Your wishlist</h3>
  </div>
  <div *ngIf="wishlist.length ==0;else elseblock" class="alert alert-danger">
      Empty
  </div>
 <!-- Section -->
 <ng-template #elseblock>
  <button class="btn btn-outline-danger" (click)="clearwishlist()">
    Clear Cart
  </button>
 <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
  
        <div *ngFor="let product of wishlist;index as id" class="col-md-3 col-xs-6">
            <!-- product -->
            <app-product-item [product]="product" [id]="id"></app-product-item>
            <!-- /product -->
      </div>
      </div>
      </div>
      </div>
      </ng-template>